body {
  /* background-image: url("/images/clouds.jpg"); */
  background-repeat: no-repeat;
  background-size: left center;
  background-size: cover;
  margin: 0px;
}

h1 {
font-family: "Times New Roman", Times, serif;
}

#start {
  font-family: 'Open Sans', sans-serif;
}

.title {
  text-align: center;
}


h1 {
  font-family: 'Open Sans', sans-serif;
}

.nav ul {
  list-style: none;
  background-color: lightblue;
  text-align: center;
  padding: 15px;
  margin: 0;
  font-size: 15px;
}
.nav li {
  /* font-family: 'Oswald', sans-serif; */
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
  font-family: 'Amatic SC', cursive;
  display: inline-block;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  /* background-color: #005f5f; */
  background-color: #8FB8BF;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

/* .test {
  background-color: red;
  padding: 1px;
  background-image: url("/images/cuba.jpeg");
} */
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  /* Option 1 - Display Inline */
  .nav li {
    margin-right: -4px;
  }

.bottom {
  position: absolute;
  bottom: 400px;
  left: 0px;
  right:0px;
}
#newsimage {
  right: 0px;

}

#title {
  font-size: 22px;
}
#newsbox {
  width: 1000px;
  length: 150px;
  padding: 40px;
  background-color: white;
  margin: 40px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: -10px 10px 25px black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
