body {
  background-image: url("/images/cuba.jpeg");
  background-repeat: no-repeat;
  background-size: left center;
  background-size: cover;
}

#travelingquote {

}


#topnav {
  display: flex;
  align-items: center;
  justify-content: center;
}
