body {
  font-family: 'Open Sans Condensed', sans-serif;
}

#newsbackground {
  background-image: url("/images/newsroom2.jpeg");
  background-repeat: no-repeat;
  background-size: 1800px 1011px;
}
#traveltitle {
  color: white;
  font-size: 45px;
  text-align: center;
}
#left {
  flex-grow: 1;
  width: 100%;
}

#newsimage {
  align-content: right;
  background-position: center;
  height: 200px;
}

.im {
  float: right;
}

#newsbox {
  text-align: left;
  font-size: 18px;
  width: 1000px;
  length: 150px;
  padding: 40px;
  background-color: white;
  margin: 40px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: -10px 10px 25px black;
  display: flex;
  flex-direction: row;
}


#title {
  font-size: 25px;
}
.nav ul {
  list-style: none;
  background-color: lightblue;
  text-align: center;
  padding: 15px;
  margin: -8px;
  font-size: 15px;
}
.nav li {
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
  ffont-family: 'Playfair Display SC', serif;
  display: inline-block;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #8FB8BF;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  /* Option 1 - Display Inline */
  .nav li {
    margin-right: -4px;
  }
