
body {
  background-color: #FFFFF0;
  margin: 0px;
  font-family: sans-serif;
}

.navbar {
  background-color: #5F7B7F;
  padding: 10px;
  color: black;
}

li {
  float: left;
}
li a {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0px 15px;
  color: white;
  text-decoration: none;
}
ul {
  overflow: hidden;
  list-style-type: none;
}

li a:hover {
  background-color: #303D40
}
