body {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0px;
  font-size: 20px;
}

p, h2, h3 {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  margin: 50px;
}

#location {
  padding: 30px;
  background-color: pink;
}

#info_about_location {
  padding: 50px;
}

.location_bio {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px;
  background-color: lightblue;
  font-size: 20px;
}

.hotels_food {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#hotels {
  background-color: gray;
  border-color: red;
  width: 50%;
  flex-grow: 1;
  padding: 30px;
}

#food {
  width: 50%;
  background-color: lightgray;
  flex-grow: 1;
  padding: 30px;
}

.activities_transportation {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#activities {
  width: 50%;
  flex-grow: 1;
  padding: 30px;
  background-color: green;
}

#transportation {
  width: 50%;
  flex-grow: 1;
  padding: 30px;
  background-color: purple;
}

.nav ul {
  list-style: none;
  background-color: lightblue;
  text-align: center;
  margin: 0;
  font-size: 15px;
}

.nav li {
  /* font-family: 'Oswald', sans-serif; */
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
  font-family: 'Playfair Display SC', serif;
  display: inline-block;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  /* background-color: #005f5f; */
  background-color: #8FB8BF;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  .nav li {
    margin-right: -4px;
  }
