body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: yellow;
  margin: 50px;
}

#location {
  font-size: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

#info_about_location {
  margin: 30px;
}

.hotels_food {
  display: flex;
  flex-direction: row;
}

#hotels {
  margin: 30px;
}

#food {
  margin: 30px;
}

.activities_transportation {
  display: flex;
  flex-direction: row;
}

#activities {
  margin: 30px;
}

#transportation {
  margin: 30px;
}
