body {
  background-image: url("/images/cuba.jpeg");
  background-opacity: 0.2;
  background-repeat: no-repeat;
  background-size: left center;
  background-size: cover;
}

#travelingquote {

}


#topnav {

}
