
<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
<head>
  <link rel="stylesheet" href="stylesheets/about.css">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
  <title>About Page</title>
</head>

<body>
    <div class="nav">
       <ul>
         <li class="home"><a href="/">Home</a></li>
         <li class="blog"><a href="/blog">Blog</a></li>
         <li class="news"><a href="/news">News</a></li>
         <li class="about"><a href="/about">About</a></li>
         <li class="contact"><a href="/contact">Contact</a></li>
       </ul>
     </div>
  <h1 style="font-family: 'Open Sans Condensed', sans-serif; font-size: 55px;">
    <center>
      Welcome to the About Page!
    </center>
  </h1>
</body>
<p style="margin: 40px; text-align:center; font-family: 'Open Sans Condensed', sans-serif;
 font-size: 30px;">
  We created an application to help users find their perfect vacation spot.
  In this application, there is a four question quiz that takes the users'
  preferences and uses a number mapping format to get the best spot based on the
  users' preferences. Each question on the quiz has a number value ranging from zero to
  four. The number values are then compared to numbers that are hardcoded into
  set locations. The locations that appear on the results page are hardcoded
  into the main.py file and then with the number mapping format, the locations
  that are already set have numbers that correspond to the the question values.</p>
<center>
  <img src="images/screenshot1.png" alt="screenshot of code" height="500px" width="500px">
</center>
<p style="margin: 40px; text-align:center; font-family: 'Open Sans Condensed', sans-serif;
 font-size: 30px;">With this library, the website compares the users' preferences
 values with the values for each hardcoded location. Once all the numbers are
 compared, it finds the closest value to the users' preferences and prints out
 the result.
