<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="/stylesheets/home.css"/></head>
  <link rel="stylesheet" href="/stylesheets/home.css"/>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Open+Sans" rel="stylesheet">
  <title>About Page</title>
</head>

<body>
    <div class="nav">
       <ul>
         <li class="home"><a href="/">Home</a></li>
         <li class="blog"><a href="/blog">Blog</a></li>
         <li class="news"><a href="/news">News</a></li>
         <li class="about"><a href="/about">About</a></li>
         <li class="contact"><a href="/contact">Contact</a></li>
       </ul>
     </div>
  <h1>
    <center>
      Welcome to the About Page!
    </center>
  </h1>
</body>
