<!DOCTYPE html>

<title>Blog Page</title>

<head>

  <link rel="stylesheet" href="stylesheets/blog.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">


</head>

<body>
    <div class="nav">
       <ul>
         <li class="home"><a href="/">Home</a></li>
         <li class="blog"><a href="/blog">Blog</a></li>
         <li class="news"><a href="/news">News</a></li>
         <li class="about"><a href="/about">About</a></li>
         <li class="contact"><a href="/contact">Contact</a></li>
       </ul>
     </div>
</blog>

<ul>
<p><a href="https://www.travelblog.org/">Travel Blog</a></p>
<br>
<p><a href="http://absolutelylucy.com/">Absolutely Lucy</a></p>
<br>
<p><a href="https://activeplanettravels.com/">Active Planet</a></p>
<br>
<p><a href= "https://adventureonyall.com/">Adventure On Yall</a></p>
<br>
<p><a href="https://www.atlasandboots.com/">Atlas and Boots</a></p>
<br>
<p><a href ="http://annaeverywhere.com/">Anna Everywhere</a></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
</ul>
