<!DOCTYPE html>
<link rel="stylesheet" href="/stylesheets/contact.css"/>
<link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Open+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">

<title>Contact Us</title>
<div class="navbar">
  <div>
    <ul>
      <li><a href="/">Find Your Dream</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</div>

<h1><center>Contact Us</center></h1>

<div class="card">
  <div style="width: 650px;">
    <img src="images/clouds.jpeg" alt="image of paradise" height="200" width="200">
  </div>
  <div>
    <h1 style="margin: 5px;">Phoebe Achonwa</h1>
    Heeey! I live in Hayward, CA.
  </div>
</div>

<div class="card">
  <div style="width: 650px;">
    <img src="images/clouds.jpeg" alt="image of paradise" height="200" width="200">
  </div>
  <div>
    <h1 style="margin: 5px;">Elvin Ng</h1>
      Hey! My name is Elvin and not Alvin. I am currently
  </div>
</div>

<div class="card">
  <div style="width: 650px;">
    <img src="images/areeta.jpg" alt="image of areeta" height="200" width="200">
  </div>
  <div>
    <h1 style="margin: 5px;">Areeta Wong</h1>
    Hi! I'm an incoming freshman at UC Irvine studying Computer Science interested
     in technology and product management. Additionally, I enjoy guiding students
      (especially females) into the world of tech through hackathons. Feel free
       to ping me at areetaw@uci.edu!
  </div>
</div>
