<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/stylesheets/contact.css"/>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
  <title>Contact Us</title>
</head>

<body>
  <div class="navbar">
    <div>
      <ul>
        <li><a href="/">Find Your Dream</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
  <h1><center>Contact Us</center></h1>
  <div class="card">
    <div class="profile_image">
      <img src="images/phoebe.jpg" alt="image of phoebe" height="200" width="200">
    </div>
    <div class="profile_bio">
      <h1>Phoebe Achonwa</h1>
      <p>Hey! I live in Hayward, CA. I am going to be attending UC
         Santa Cruz in the fall studying computer engineering.
         I was introduced to cs through the  Girls Who Code program.
         I enjoy working on web development and design. You can contact
         me at phoebeachonwa.mehs@gmail.com
      </p>
    </div>
  </div>
  <div class="card">
    <div class="profile_image">
      <img src="images/elvin.jpg" alt="image of elvin" height="200" width="200">
    </div>
    <div class="profile_bio">
      <h1>Elvin Ng</h1>
        <p>Hey! I was born in San Francisco and have lived there for 18 years!
            Living in this vibrant city has exposed me to all sorts of technologies and innovation.
            My interest in computer science and technology lead me to the Google CSSI program.
            I will be studying computer science at Carleton College in the fall.</p>
    </div>
  </div>
  <div class="card">
    <div class="profile_image">
      <img src="images/areeta.jpg" alt="image of areeta" height="200" width="200">
    </div>
    <div class="profile_bio">
      <h1>Areeta Wong</h1>
        <p>Hi! I'm an incoming freshman at UC Irvine studying Computer Science interested
        in technology and product management. Additionally, I enjoy guiding students
        (especially females) into the world of tech through hackathons. Feel free
        to ping me at areetaw@uci.edu!
      </p>
    </div>
  </div>
</body>
