<!DOCTYPE html>
<link rel="stylesheet" href="/stylesheets/contact.css"/>
<link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Open+Sans" rel="stylesheet">
<title>Contact Us</title>
<div class="navbar">
  <div>
    <ul>
      <li><a href="/">Find Your Dream</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</div>

<h1><center>Contact Us</center></h1>

<div class="card">
  <div style="width: 650px;">
    <img src="images/clouds.jpeg" alt="image of paradise" height="200" width="200">
  </div>
  <div>
    <h1 style="margin: 5px;">Phoebe Achonwa</h1>
    Heeey, my birthday is October 26!
  </div>
</div>

<div class="card">
  <div style="width: 650px;">
    <img src="images/clouds.jpeg" alt="image of paradise" height="200" width="200">
  </div>
  <div>
    <h1 style="margin: 5px;">Elvin Ng</h1>
      Hey! My name is Elvin and not Alvin. I am currently   
  </div>
</div>

<div class="card">
  <div style="width: 650px;">
    <img src="images/clouds.jpeg" alt="image of paradise" height="200" width="200">
  </div>
  <div>
    <h1 style="margin: 5px;">Areeta W.</h1>
    Hey I'm Areeta
  </div>
</div>
