<!DOCTYPE html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/home.css"/>
</head>

  <title>Welcome Page</title>

    <div class="nav">
       <ul>
         <li class="home"><a href="/">Home</a></li>
         <li class="blog"><a href="/blog">Blog</a></li>
         <li class="news"><a href="/news">News</a></li>
         <li class="about"><a href="/about">About</a></li>
         <li class="contact"><a href="/contact">Contact</a></li>
       </ul>
     </div>

    <h1 style="font-size: 70px; color: white; margin: 30px;">
      <center>
        Welcome to Dream Destination!
      </center>
    </h1>

    <center>
      <img src="images/logo1.png" alt="logo" height="120" style="display: inline-block; border-radius: 0px;">
    </center>
  <br><br><br>
  <br><br><br>

  <form action= "/questions" method="post" class="bottom">
    <center>
      Enter your name to begin your search for paradise<br> <br><input name="name">
      <button>Begin</button>
    </center>
  </form>

</body>
