<!DOCTYPE html>

<link rel="stylesheet" href="/stylesheets/home.css"/></head>

<link rel="stylesheet" href="/stylesheets/home.css"/>


<title>Welcome Page</title>

<div id="background"><div>
<head>

  <div class="topnav">

        <img src="/images/logo3.png" alt="logo" height="50" width="50">

    <a class="/" href="home">Home</a>
    <a href="/travelblog"> Travel Blog</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </div>


<h1>
Hello, Welcome to Dream Destination!
</h1>

<div id="travelingquote">
  <img src="/images/travelingquote.jpeg" alt="travelingquote" height="250" width="500">
</div>
<br>
<br>
<form action= "/questions" method="post">
    Enter your name to begin your search for paradise<br> <input name="name">
    <button>Begin</button>
  </form>
