<!DOCTYPE html>

<link rel="stylesheet" href="/stylesheets/home.css"/></head>

<link rel="stylesheet" href="/stylesheets/home.css"/>


<title>Welcome Page</title>

<div id="background"><div>
<head>

  <div class="nav">
    <div class="nav">
       <ul>
         <li class="home"><a href="/">Home</a></li>
         <li class="blog"><a href="/blog">Blog</a></li>
         <li class="news"><a href="/news">News</a></li>
         <li class="about"><a href="/about">About</a></li>
         <li class="contact"><a href="/contact">Contact</a></li>
       </ul>
     </div>

  </div>


<h1 >
Hello, Welcome to Dream Destination!
</h1>

<div id="travelingquote">
  <img src="/images/travelingquote.jpeg" alt="travelingquote" height="250" width="500">
</div>
<br>
<br>
<form action= "/questions" method="post">
    Enter your name to begin your search for paradise<br> <input name="name">
    <button>Begin</button>
  </form>
