<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/stylesheets/home.css"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/news.css"
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">

  <title>Welcome Page</title>
</head>

<style>
  body {
    background-image: url("/images/cuba.jpeg");
  }
</style>

<body id="newsbackground">
    <div class="nav">
       <ul>
         <li class="home"><a href="/">Home</a></li>
         <li class="blog"><a href="/blog">Blog</a></li>
         <li class="news"><a href="/news">News</a></li>
         <li class="about"><a href="/about">About</a></li>
         <li class="contact"><a href="/contact">Contact</a></li>
       </ul>
     </div>
  <h1>Travel News</h1>
  {% for article in articles %}
    <div id="newsbox">
      <div>
        <a href = {{article["url"]}}>
          <div id="title">{{article["title"]}}</div>
        </a>
      {% if article["author"] and not article["author"].startswith("http") %}
        {{article["author"]}},
      {% else %}
        <br>
      {% endif %}
        <br><br>
        <ul>
          <li>{{article["description"]}}</li>
        </ul>
      </div>
      <div id="newsimage">
        <img src= {{article["urlToImage"]}} alt="Smiley face" height="200" width="200"> <br>
      </div>
    </div> <br>
  {% endfor %}
</body>
