<!DOCTYPE html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/news.css"
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Open+Sans" rel="stylesheet">
  <title>Welcome Page</title>
</head>

<body>
    <div class="nav">
       <ul>
         <li class="home"><a href="/">Home</a></li>
         <li class="blog"><a href="/blog">Blog</a></li>
         <li class="news"><a href="/news">News</a></li>
         <li class="about"><a href="/about">About</a></li>
         <li class="contact"><a href="/contact">Contact</a></li>
       </ul>
     </div>

  <h1>Travel News</h1>



  {% for article in articles %}
    <div id="newsbox">
      <div>

      <a href = {{article["url"]}}>{{article["title"]}}</a>, {{article["author"]}} <br>

    </div>
    <div id="newsimage">
    <img src= {{article["urlToImage"]}} alt="Smiley face" height="200" width="200"> <br>
    </div>
    </div> <br>
  {% endfor %}

</body>
