<!DOCTYPE html>
<link rel="stylesheet" href="stylesheets/questions.css"/>
<title>Quiz Page</title>
<div class="navbar">
  <ul>
  <li><a href="">Find your Dream</a></li>
  <li><a href="">Travel Blog</a></li>
  <li><a href="">Reviews</a></li>
  <li><a href="">About the App</a></li>
  <li><a href="">About Us/ Contact Us</a></li>
</ul>
</div>
<h2 style="margin:50px;">Welcome to Dream Destination! Here you will take a 4 question quiz in order to determine
   your perfect vacation spot.
<h2/>

<h3 style="margin: 50px;">Select Your Preferences: </h3>
<form method=POST action="/results" style="margin:50px;">
  <label>What type of weather would you like?</label><br>
  <input type="radio" name="question1" value="snow"> I love snow, hot chocolate, and building snowman <br>
  <input type="radio" name="question1" value="mild">Mild weather is the way to go. Not too hot not too cold <br>
  <input type="radio" name="question1" value="sunny">Nothing is better than cracking open a coconut on a hot sunny day by the beach<br>
  <input type="radio" name="question1" value="windy">I want to experience wind!<br>
  <br>
  <label>What is your prefered mode of transportation?</label><br>
  <input type="radio" name="question2" value="windy">Car<br>
  <input type="radio" name="question2" value="warm">Bus/Bart/Train<br>
  <input type="radio" name="question2" value="snowy">Plane<br>
  <br>
  <label>What is your budget on this trip?</label><br>
  <input type="radio" name="question3" value="windy">Below $100<br>
  <input type="radio" name="question3" value="warm">Below $300<br>
  <input type="radio" name="question3" value="snowy">Below $500<br>
  <input type="radio" name="question3" value="snowy">Below $1000<br>
  <br>
  <label>How many people will be on this trips?</label><br>
  <input type="radio" name="question4" value="windy">Windy<br>
  <input type="radio" name="question4" value="warm">Nice warm sun with a breeze<br>
  <input type="radio" name="question4" value="snowy">Snowy<br>
  <br> <button>Submit</button>
</form>
