<!DOCTYPE html>
<title>Quiz Page</title>
<style>
body {
  background-color: blue;
}
</style>

<h1><center>Select your preferences</center></h1>

<form method=POST action="/result">
  <center style="font-size: 30px;">
<label>What type of weather would you like?</label><br>
<input type="radio" name="question1" value="">Windy<br>
<input type="radio" name="question1" value="">Nice warm sun with a breeze<br>
<input type="radio" name="question1" value="">Snowy<br>
<br>
<label>What type of weather would you like?</label><br>
<input type="radio" name="question1" value="">Windy<br>
<input type="radio" name="question1" value="">Nice warm sun with a breeze<br>
<input type="radio" name="question1" value="">Snowy<br>
<br>
<label>What type of weather would you like?</label><br>
<input type="radio" name="question1" value="">Windy<br>
<input type="radio" name="question1" value="">Nice warm sun with a breeze<br>
<input type="radio" name="question1" value="">Snowy<br>
<br>
<label>What type of weather would you like?</label><br>
<input type="radio" name="question1" value="">Windy<br>
<input type="radio" name="question1" value="">Nice warm sun with a breeze<br>
<input type="radio" name="question1" value="">Snowy<br>
<button>Submit</button>
</center>
</form>
